*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f6f6f6;
}
.sd_header{
    background-color: #333333;
    
}
.sd_header .sd_header_container{
    width: 100%;
    max-width: 1496px;
    margin: auto;
    padding: 20px 10px;
}
.sd_header .sd_header_info_bar{
    width: 100%;
    background-color: #111111;
}
.sd_header .sd_header_info_bar p{
    text-align: center;
    color: #cccccc;
    font-size: 13px;
    padding-block: 5px;
    opacity: .7;
}
.sd_header .sd_header_wrapper{
    width: 100%;
    display: flex;
    align-items: flex-start;
}
.sd_header .sd_header_wrapper .sd_logo_container{
    flex-grow: .1;
    display: flex;
    align-items: center;
}
.sd_header .sd_header_wrapper .sd_logo_container a{
    display: flex;
    align-items: center;
}
.sd_header .sd_header_wrapper .sd_search_nav_container{
    flex-grow: 4;
}
.sd_header .sd_header_wrapper .sd_search_nav_container .sd_nav_container ul li {
    display: inline-block;
}
.sd_header .sd_header_wrapper .sd_search_nav_container .sd_nav_container ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;   
}
.sd_header .sd_header_wrapper .sd_search_nav_container .sd_nav_container .sd_nav_menu li{
    position: relative;
}
  

.sd_header .sd_header_wrapper .sd_search_nav_container .sd_nav_container ul{
    width: 100%;
    max-width: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}
.sd_header .sd_header_wrapper .sd_search_nav_container .sd_nav_container ul li svg{
    transform: rotate(180deg);
    margin-left: 5px;
}
.sd_header .sd_header_wrapper .sd_sub_menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    position: absolute;
    top: calc(100% + 12px);
    min-width: 224px !important;
    max-width: 300px !important;
    max-height: calc(100vh - 140px);
    overflow-y: auto;
    row-gap: 4px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 15px 10px;
    border:#f6f6f6;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, .15), 0px 3px 10px 0px rgba(0, 0, 0, .1);
    animation: growOut .25s ease-in-out forwards;
    z-index: 2;
}
.sd_header .sd_header_wrapper .sd_sub_menu li{
    display: block;
    text-align: left;
    margin-block: 6px;
}
.sd_header .sd_header_wrapper .sd_sub_menu li a{
    color: #333333 !important;
    text-align: left;
    font-weight: 500 !important;
}
.sd_header .sd_header_wrapper .sd_sub_menu li:last-child a{
    color: #146FF5 !important;
    font-size: 13px !important;
    font-weight: 600 !important;
}
@keyframes growOut {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
    
    
}
  
.sd_header .sd_header_wrapper .sd_search_container{
   
    display: flex; 
    justify-content: space-between;
    align-items: center;
    align-self: center; 
    height: 44px;
    outline: 0;
    font-size: 14px;
    line-height: 16px;
    border-radius: 24px;
    background-color:#555555;  
}
.sd_header .sd_header_wrapper .sd_search_container input{
    width: 80%;
    padding: 0 6px 0 22px;
    border: 0;
    border-radius: 22px 0 0 22px;
    margin: 0;
    outline: 0;
    color:#ffffff;
    background-color:#555555;  
    visibility: visible;
    opacity: 1;
    transition: all .5s cubic-bezier(0,.105,.035,1.57);
}
.sd_header .sd_header_wrapper .sd_search_container input::placeholder{
    font-size: 15px;
    color:#999999;
}
.sd_header .sd_header_wrapper .sd_search_container .hdr_search_icon{
    margin-right: 15px;
    fill:#999999;
}


.sd_header .sd_header_wrapper .sd_logo_container a img:first-child{
    width: 40px;
}
.sd_header .sd_header_wrapper .sd_logo_container a img:last-child{
    width: 90px;
}
.sd_header .sd_header_wrapper .sd_feature_container{
    flex-grow: 2;    
}
.sd_header .sd_nav_feature{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sd_header .sd_feature_container .sd_nav_feature_wrapper{
    display: inline-block;    
}
.sd_header .sd_feature_container .sd_nav_feature_wrapper a{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: #ffffff;
}
.sd_header .sd_feature_container .sd_nav_feature_wrapper a span:first-child{
    background-color: #dd1a8f;
    border-radius: 50%;
    padding: 8px 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sd_header .sd_feature_container .sd_nav_feature_wrapper a span:last-child{
    font-size: 12px;
    font-weight: 600;
    padding-top: 12px;
}
.sd_header .sd_feature_container .sd_nav_feature_wrapper:nth-child(2) a span:first-child{
    background-color: #146FF5;
}
.sd_header .sd_feature_container .sd_nav_feature_wrapper:nth-child(3) a span:first-child{
    background-color: #f8d066;
    padding: 11px 10px;
}
.sd_header .sd_feature_container .sd_nav_feature_wrapper:nth-child(4) a span:first-child{
    background-color: #c64111;
    padding: 10px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 3px 0;
    transition: all 0.2s ease-in-out;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: var(--black);
    font-weight: 600;
    padding-block: 5px;
    margin-inline: 10px;
}
.bottom_bdr{
    border-bottom: 2px solid var(--blue);
}

.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    animation: smoothScroll 1s forwards;
    background-color: var(--white);
  }
  .m_menu{
    display: none;
  }
  .d_none{
    display: none;
  }
  @keyframes smoothScroll {
      0% {
          transform: translateY(-40px);
      }
      100% {
          transform: translateY(0px);
      }
  }
  .sd_header .sd_categories_bar{
    width: 100%;
    background-color: #ffffff; 
    overflow-x:scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;   
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .sd_header .sd_categories_bar::-webkit-scrollbar {
    display: none;
  }
  

  .sd_header .sd_categories_bar ul{
    width: 1660px;
    margin: auto;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
  
   
   
  }
  .sd_header .sd_categories_bar ul li{
    display: inline-block;  
    margin-inline: 1%;  
  }
  .sd_header .sd_categories_bar ul li a{
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0171d3;
  }
  .slick-prev:before,.slick-next:before{
    color: #000000 !important;
  }
  .d_none{
    display: none !important;
  }
/* Media query for responsive design */
@media screen and (max-width: 1660px) {
    .sd_header .sd_categories_bar ul{
        margin-right:auto;
    }
}
@media (max-width: 991px) {
    .sd_header .sd_header_wrapper .sd_search_nav_container .sd_nav_container{
        display: none;
    }
    .sd_header .sd_header_wrapper .sd_search_nav_container {
        flex-grow: 45;
    }
    .m_menu {
        display: inline-block;
        width: 100%;
    }
    .m_menu a{
        width: 90%;   
        display: flex;
        justify-content: space-between;
        height: 44px;
        align-items: center;
    }
    .m_menu a svg{
        width: 15px;
        transform: rotate(180deg);
    }
    .menu {  
        display: flex;          
        flex-direction: column;
        background-color:#333333;
        position: absolute;
        top: 100px;      
        width:0%;        
        right:0;
        transform: translateX(100%);
        transition: all .8s ease-in-out;
        /* box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15); */
        z-index: 2; 
        color: #ffffff;
        border-bottom-left-radius: 10px; 
        border-bottom-right-radius: 10px; 
        overflow-x: hidden;
        overflow-y: scroll;
        height: calc(70vh - 30px);
      
    }

    .menu.active {  
         right: 0px;  
         width:80%; 
         padding: 10px;    
        transform: translateX(0%);
    }

    .menu li {
        margin: 10px 0;
        text-align: left;
    }

    .menu-toggle {
        display: flex;
        align-items: center;
        margin-left: 10px;
    }
    .rotate_bar1{
        transform: rotate(48deg) translate(2px, 2px);
    }
    .rotate_bar2{
        transform: rotate(319deg) translate(4px, -5px);   
    }
    .rotate_bar3{
        display: none;
    }
    .sd_header .sd_feature_container .sd_nav_feature_wrapper a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        text-decoration: none;
        color: #ffffff;
    }
    .sd_header .sd_header_wrapper{
        align-items: center;
    }
    .menu_name{
        font-size: 10px;
    }
    .sd_header .sd_header_info_bar p span{
        display: none;
    }
    /* .sd_nav_feature svg{
    background-color: #333333;
    } */
    .sd_nav_feature svg{
        width: 15px !important;
    }
    .sd_header .sd_nav_feature {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }
    .sd_header .sd_nav_feature li{
        border-bottom:1px solid #ffffff5b;
        margin-block: 0px;
        padding-block: 5px;
        width: 85%;
        justify-content: flex-start;
        margin: auto;
    }
    .sd_header .sd_feature_container .sd_nav_feature_wrapper a span:last-child {      
        padding-top: 0px;
        padding-left: 6px;
        font-size: 14px;
    }
    .d_none{
        display: none;
      }
      .sd_header .sd_header_wrapper .sd_sub_menu {
        position: static;
        background-color: #333333;
        height: calc(70vh - 30px);
      }
      .sd_header .sd_header_wrapper .sd_sub_menu li{
        margin-block: 0px;
        padding-block: 0px;
      }
      .sd_header .sd_header_wrapper .sd_sub_menu li:last-child{
        border: none;
      }
      .sd_header .sd_header_wrapper .sd_sub_menu li a{
        color: #ffffff !important;
        font-size: 12px !important;
        height: auto !important;
      }
}
@media screen and (max-width: 576px) {
    .sd_header .sd_header_wrapper .sd_logo_container a img:last-child {
        display: none;
    }
    .sd_header .sd_header_wrapper .sd_logo_container a img:first-child {
        margin-right: 8px;
    }
    .d_none{
        display: none;
      }
}
.signup_container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #83838361;
    column-gap: 30px;
    position: fixed;
    inset: 0;
    z-index: 99;
}
.signup_container .form{
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #FFF;
}
.signup_container .form.signup{
    opacity: 0;
    pointer-events: none;
}
.forms.show-signup .form.signup{
    opacity: 1;
    pointer-events: auto;
}
.forms.show-signup .form.login{
    opacity: 0;
    pointer-events: none;
}
.signup_container header{
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}
.signup_container form{
    margin-top: 30px;
}
.signup_container .form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}
.signup_container .field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.signup_container .field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}
.signup_container .field input:focus{
    border-bottom-width: 2px;
}
.signup_container .eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}
.signup_container .field button{
    color: #fff;
    background-color: #0171d3;
    transition: all 0.3s ease;
    cursor: pointer;
}
.signup_container .field button:hover{
    background-color: #016dcb;
}
.signup_container .form-link{
    text-align: center;
    margin-top: 10px;
}
.signup_container .form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}
.signup_container .form a{
    color: #0171d3;
    text-decoration: none;
}
.signup_container .form-content a:hover{
    text-decoration: underline;
}
.signup_container .line{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}
.signup_container .line::before{
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #8b8b8b;
    padding: 0 15px;
}
.signup_container .media-options a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup_container a.facebook{
    color: #fff;
    background-color: #4267b2;
}
.signup_container a.facebook .facebook-icon{
    height: 28px;
    width: 28px;
    color: #0171d3;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.signup_container .facebook-icon,
img.google-img{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}
.signup_container img.google-img{
    height: 20px;
    width: 20px;
    object-fit: cover;
}
.signup_container a.google{
    border: 1px solid #CACACA;
}
.signup_container a.google span{
    font-weight: 500;
    opacity: 0.6;
    color: #232836;
}

@media screen and (max-width: 400px) {
    .signup_container .form{
        padding: 20px 10px;
    }
    
}
/* ----------------------- */

/* footer */
.footer .container{
	max-width: 1496px;
	margin:auto;
    padding-inline: 15px;
}
.footer .row{
	display: flex;
	flex-wrap: wrap;
}
.footer ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 20%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer .footer_row1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: min(4vw, 80px);
    padding-bottom: min(2vw, 30px);
}
.footer .footer_row1 p{
    color: #bbbbbb;
    font-size: 14px;
}
.footer .sd_logo_container{
    flex-grow: .1;
    display: flex;
    align-items: center;
}
.footer .sd_logo_container a{
    display: flex;
    align-items: center;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 14px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.footer-col:last-child li a{
    padding: 13px 15px;
    background-color: #555555;
    text-align: center;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-col:last-child li:first-child a img{
    width: 100%;
    max-width: 150px;
}
.footer-col:last-child li:nth-child(2) a img{
    width: 100%;
    max-width: 150px;
}
.footer-col:last-child li:last-child a img{
    width: 100%;
    max-width: 120px;
}

.footer-col:last-child li:not(:last-child){
    margin-bottom: 18px;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
.footer .footer_row1{
    flex-direction: column;
}
.footer .sd_logo_container{
    margin-bottom: 15px;
}
.footer .footer_row1 p{
    text-align: center;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.index_main, .product_detail_main{
    width: 100%;
    max-width: 1496px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.product_detail_main{
    padding-top: 30px;
}
/* product_section  */
.products_container{
    width: 80%;  
    padding-top: 8px;
    padding-inline: 8px;
    padding-block: 35px;
    overflow-x: hidden;
}
.products_container .product_container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.products_container .latest_product_title h2{
    font-size: 18px;
}
.product-card {
    width: 19%;  
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 20px auto;
    background: #ffffff;
    padding: 14px;
    border-radius: 12px;  
    margin-inline: .5%;
}

.badge {
    position: absolute;
    right: 22px;
    top: 55px;
    text-transform: uppercase;
    font-size: 8px;
    font-weight: 700;
    background: rgb(150, 3, 3);
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding-block: 25px;
    background: #f0f0f0;
    border-radius: 12px;
}

.product-tumb img {
    width: 85%;
    max-width: 100%;  
}

.product-details {
    padding-top: 8px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
    color: #ccc;
    margin-block: 5px;
}


.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
    font-size: 15px;
    line-height: 1.5;
}

.product-details h4 a:hover {
    color: #000000;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 15px;
    margin-top: 10px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #333333;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
    color: #c64111;
}

.product-links {
    text-align: right;
    display: flex;
    justify-content: space-around;
    width: 100% !important;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #bbbbbb;
    transition: 0.3s;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-links a span{
    font-size: 16px;
}

.product-links a:hover {
    color: #333333;
}
.slick-next {
    right: 1% !important;
}
.slick-prev {
    left: 1% !important;
    z-index: 2;
}
    .ads_sec {
        display: flex;
        width: 18.5%;
        flex-wrap: wrap;
        padding-block: 10vw;
    }
 .ads_sec .trending_list li h4 {
        width: 60%;
    }
   .ads_sec .trending_list li .comment_sec {
        width: 40%;
    }
    .trending_list li .discount_coupons_sec {
        display: flex;
        width: 100%;
        padding: 12px 0px;
        border-bottom: 1px solid #eaeaea;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .trending_list li .discount_coupons_sec .discount_img_sec {
        display: flex;
        width: 30%;
        flex-flow: column wrap;
        align-items: center;
    }
    .trending_list li .discount_coupons_sec .discount_img_sec a {
        margin-top: 4px;
        background-color: #b7527c;
        border-radius: 2px;
        color: #fff;
        font-size: 9px;
        font-weight: 700;
        line-height: 16px;
        padding: 0px 16px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
    }
    .trending_list li .discount_coupons_sec .discount_txt_sec {
        display: flex;
        width: 65%;
        flex-flow: column wrap;
    }
    .trending_list li .discount_coupons_sec .discount_txt_sec .price_sec {
        color: #b7527c;
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 4px;
        text-decoration: none;
    }
    .trending_list li .discount_coupons_sec .discount_txt_sec .discount_txt {
        color: #555555;
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 4px;
        text-decoration: none;
    }
    .trending_list li .discount_coupons_sec .discount_txt_sec .redeem_sec {
        color: #999999;
        font-size: 11px;
        font-weight: 400;
        text-decoration: none;
    }
    .ads_sec .ad_wrapper {
        display: flex;
        width: 100%;
        border: 1px solid #c7c7c7;
        border-radius: 8px;
        flex-wrap: wrap;
    }
   .ads_sec .ad_wrapper img {
        width: 100%;
    }
.trending_deals_wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
    margin-top: 10px;
}
.trending_deals_wrapper .trending_deals_header {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background: #fafafa;
    border-bottom: 1px solid #d8d8d8;
    border-radius: 10px;
}
.trending_deals_wrapper .trending_deals_header .trend_header_sec {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid #d8d8d8;
}
.trending_deals_wrapper .trending_deals_header .trend_header_sec h1 {
    font-size: 16px;
    font-weight: 600;
}
.trending_list {
    list-style: none;
    width: 100%;
}
.trending_list li {
    display: flex;
    width: 100%;
    padding: 8px 12px;
    justify-content: space-between;
    border-bottom: 1px solid #d8d8d8;
}
.trending_list li:last-child {
    border-bottom: 0px;
}
.trending_list li .comment_sec {
    display: flex;
    width: 8%;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
.trending_list li h4 a {
    color: #333333;
    font-size: 12px;
    line-height: 22px;
    font-weight: 500;
    text-decoration: none;
}
.trending_list li .trending_like_sec {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 6px;
}
.trending_list li .trending_like_sec .trending_cmt {
    display: flex;
    gap: 6px;
}
.trending_list li .trending_like_sec .trending_like {
    display: flex;
    gap: 6px;
}
.trending_list li .trending_like_sec .trending_like h4 {
    background: #fef8e7;
    padding: 5px 10px;
    font-size: 11px;
    color: #999;
}
.trending_list li .trending_like_sec .trending_cmt img {
    width: 16px;
    height: 14px;
}
.trending_list li .trending_like_sec .trending_cmt p {
    font-size: 11px;
}
@media screen and (max-width: 1840px) {
    .trending_list li .comment_sec {
        width: 11%;
    }

}
@media screen and (max-width: 1450px) {  
    .trending_list li .comment_sec {
        width: 12%;
    }
    .popular_deal_page .container {
        width: min(98%, 1519px);
    }
  .ads_sec .trending_list li h4 {
        width: 46%;
    }
  .ads_sec .trending_list li .comment_sec {
        width: 52%;
    }
}
@media screen and (max-width: 1250px) {
    .banner_sec .banner_img_sec {
        width: min(33%, 475px);
    }
    .popular_deal_sec .popular_deal .deal_options .deal_detail .deal_detail_txt .more_options {
        column-gap: 8px;
    }
    .trending_list li .comment_sec {
        width: 13%;
    }
  .ads_sec .trending_list li .comment_sec {
        width: 55%;
    }
    .ads_sec {
        display: none;
       
    }
    .products_container {
        width: 100%;
    }
}
@media screen and (max-width: 1080px) {
    .banner_sec .banner_txt_sec {
        width: min(63%, 650px);
    }
    .banner_sec .banner_txt_sec h2 {
        font-size: 21px;
        margin-bottom: 10px;
    }
    .banner_sec .banner_img_sec {
        width: min(30%, 475px);
    }
    .popular_deal_element h4 {
        font-size: 12px;
    }
    .popular_deal_element a {
        font-size: 10px;
    }
    .offer_wrapper .offer_sec {
        width: 100%;
        margin-bottom: 10px;
    }
    .offer_wrapper .offer_sec .offer_sec_elements p {
        width: min(28vw, 245px);
    }
}
@media screen and (max-width: 1200px) {
    .products_container .product_container{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .product-card {
        width: 23%; 
        margin-inline: 1%; 
    }
    .product-card-slick{
        margin-inline: .5%;
    }
}
@media screen and (max-width: 991px) {
    .products_container .product_container{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .product-card {
        width: 30%;  
        margin-inline: 1.5%;
    }
    .product-card-slick{
        margin-inline: .5%;
    }
}
@media screen and (max-width: 768px) {
    .products_container .product_container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .product-card {
        width: 45%;  
        margin-inline: 2.5%;
    }
    .product-card-slick{
        width: 4.8%;
        margin-inline: .5%;
    }


}
@media screen and (max-width: 486px) {
    .products_container .product_container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .latest_deals .product-card {
        width: 100%;  
        max-width: 100%; 
        margin: auto;
        margin-block: 10px;     
        display: flex;
        align-items: flex-start;
        padding: 8px;
        border-radius: 5px;
    }
    .product-card-slick{
        width: 8%;
        max-width: 290px;   
        margin-inline: .8%;
    }
    .latest_deals .product_found{
        display: none !important;
    }
    .latest_deals .product-tumb{
        width: 200px;
        align-items: flex-start;
        padding-block: 8px;
        border-radius: 5px;
    }
    .latest_deals .product-details{
        padding-top: 0px;
        padding-left: 5px;
    }
     .product-details h4 a {
        font-size: 14px;
        line-height: 1.2;
        margin-bottom: 5px;
    }
    .latest_deals .product-bottom-details {
        overflow: hidden;
        border-top:none;
        padding-top: 2px;
        margin-top: 2px;
    } 
    .latest_deals .product-links{
        width: 50% !important;
        justify-content: space-between;
    }
}
@media screen and (max-width: 386px) {
    .product-card {
        width: 90%;  
        max-width: 300px;      
        margin-inline: 5%;
    }
    .product-card-slick{
        width: 4.8%;
        max-width: 306px;   
        margin-inline: .5%;
    }
}
/* --------post_deal---------- */

/* Add padding to container elements */
 form .post_deal_container {
    padding: 50px;
    width: 100%; 
    margin: auto; 
    max-width:650px; 
    background:white;

  }
  form .post_deal_container h1{
    font-size: min(8vw, 35px);
  }
  form .post_deal_container  h1{
    color: #333333;
    text-align: center;
    margin-block: 15px;
  }
  form .post_deal_container p{
    color: #333333;
    text-align: center;
    margin-block: 15px;
  }
  form .post_deal_container p a{
    text-decoration: none;
  }
  form .post_deal_container p a:hover{
    text-decoration: underline;
  }
  form .post_deal_container label{
    font-weight:600;
    font-size: 12px;
    color: #333333;
  }

/* Full-width input fields */
form .post_deal_container input[type=text], input[type=password],input[type=number],textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border-radius: 4px;
  display: inline-block;
  border: none;
  background: #ffffff;
	font-family: Montserrat,Arial, Helvetica, sans-serif;
    border:1px solid #ccc;
    padding-block: 10px;
}


form .post_deal_container input[type=phone] {
  width: 81%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f7f7f7;
 
}

form .post_deal_container input[type=text]:focus, input[type=password]:focus,input[type=number], input[type=phone]:focus, select:focus {

  outline: none;
}
form .post_deal_container .input-group {
    display: flex;
    align-content: center;
    margin-bottom: 22px;
  }
  .post_deal_container .input-group-addon {
    background: #eee;
    border: 1px solid #ccc;
    padding: 0.5em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }



/* Set a style for all buttons */
form .post_deal_container .btn {
  background-color: #006bb1;
  color: white;
  padding: 12px 0px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 120px;
  font-weight: 600;
  opacity: 0.9;
	font-size:12px;
	font-family: Montserrat,Arial, Helvetica, sans-serif;
	border-radius:5px;
}

form .post_deal_container button:hover {
  opacity:1;
}
#code-editor{
    border: 1px solid #d1d1d1;
    max-width: 600px;
    margin: 0px auto;
    margin-bottom: 22px;
  }
  #code-editor .editor-block-controls{
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    padding: 5px;
    background: #fff;
  }
  #code-editor  .editor-block-controls > div{
    margin-bottom: 5px;
  }
  #code-editor  .editor-block-controls > div > button.command{
    outline: none;
    background-color: none;
    background: transparent;
    color: black;
    cursor: pointer;
    border: 1px solid #e1e1e1;
    transition: .2s;
    border-radius: 3px;
    padding:5px 10px;
  }
  #code-editor .editor-block-controls > div > button.command:hover{
    color: lightblue;
  }
  #editor-block-content{
    max-width: 100%;
    min-height:150px;
    width: 100%;
    height: auto;
    padding: 12px;
    resize: vertical;
    overflow: auto;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    border: 2px solid #e1e1e1;
    border-radius: 0 0 3px 3px;
    background: #F2F4F6;
    outline: none;
  }
  #editor-block-content > blockquote{
    border-left: 2px solid black;
    padding: 5px;
    background: #1111;
    font-style: italic;
    
  }
  .wsy-command{
    padding: 3px;
    border-radius: 3px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    transition: .2s;
  }
  *::before,*::after{
    box-sizing: border-box;
  }
  /* image_drag_drop */
  .uploadOuter {
    text-align: center;
    padding: 15px 0px;
   
  }
  .dragBox {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    font-weight: bold;
    color: #999;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
    font-weight: 500;
   
  }
  .dragBox  input[type="file"] {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
  }
  .draging {
    transform: scale(1.1);
  }
  #preview {
    text-align: center;
    display: none;
    
  }
  #preview img {
    max-width: 100%
  }
@media screen and (max-width: 668px) {
    .post_deal_container {
        padding: 20px;
    }
    .dragBox {
        font-size: 14px;
    }
    .post_deal_container .btn {
        width: 49%;
    }
}
@media screen and (max-width: 420px) {
    .dragBox{
        flex-direction: column;
    }
}
/* product_detail  */
.product_detail_main .ads_sec{
    width: 18%;
}
.card-wrapper{
    width: 80%;
    padding: 25px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-top: 6px solid #FAE4A8;
    border-radius: 5px;
}
.card-wrapper .product_page_tag{
    display: flex;
    width: 80px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    font-size: 11px;
}
.card-wrapper .product-report-issue{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-wrapper .product-report-issue a{
    text-decoration: none;
    font-size: 12px;
    color:#0171d3;
}
.card-wrapper .product-report-issue li:first-child a{
    max-width: 160px;
    margin: auto;
    background-color: #f0f0f0;
    color: #000000;
    border: 2px solid #333333;
    padding: 6px;
    margin-bottom: 15px;  
    font-size: 12px;
    font-weight: 600;
    border-radius: 15px;
    margin-right: 5px;
    display: inline-block;
}
.card-wrapper .product-report-issue li:first-child a:hover{
    background-color: #000000;
    color: #f0f0f0;
}
.card-wrapper .product-report-issue ul li{
    display: inline-block;
}
.card-wrapper .product-deal-creator ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 15px;
    width: 100%;
}
.card-wrapper .product-deal-creator ul li{    
    display: inline-block;
    font-size: 13px;
}
.card-wrapper .product-deal-creator ul li a{    
    text-decoration: none;
    color: #0171d3;
}
.card-wrapper .product-deal-creator ul li:nth-child(2){
    margin-left: auto;
}
.card img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
   margin-inline: 20px;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;

}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
    margin-inline: 20px;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 0;
}
.product-title{
    font-size:min(7vw, 32px);
    text-transform: capitalize;
    font-weight: 300;
    position: relative;
    color: #12263a;
    margin: 12px 0;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: #ffc107;
}
.product-rating span{
    font-weight: 600;
    color: #252525;
}
.product-price{   
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}
.last-price{
    text-align: left;
    display: flex;
    align-items:center;
    justify-content: flex-start;
}
.last-price span:first-child{
    font-weight: 600;
    font-size: 26px;
}
.last-price span:nth-child(2){
    color: #C64111;
    text-decoration: line-through;
    font-size: 20px;
    padding-inline: 3px;
}
.last-price span:last-child{
    font-size: 14px;
    opacity: .7;
    font-style: italic;
}
.new-price span{
    color: #256eff;
}
.product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.product-detail-list ul{
    width: 95%;
    margin: auto;
}
.product-detail-list h3{
    font-size: 14px;
}
.product-detail .product-price p{
    margin-block: 0;
    color: #000000;
}
.product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
    text-align: left;
    margin-block: 20px;
}
.product-detail ul{
    margin-block: 12px;
    font-size: 0.9rem;
}
.product-detail ul li{
    margin: 0;
    background-size: 18px;
    padding-left: 0px;
    margin: 0.4rem 0;
    font-weight:normal;
    opacity: 0.9;
}
.product-detail ul li::marker{
    text-align: right;
}
.product-detail ul li span{
    font-weight: 400;
}
.product-detail .social-links-response{
    display: flex;
    max-width: 500px;
    justify-content: space-between;
    margin-block: 4px;
    flex-wrap: wrap;

}
.product-detail .social-links-response li{
    display: flex;
    list-style: none;
    color: #5d5c5c;
    align-items: center;
}
.product-detail .social-links-response li span{
    padding-inline: 3px;
   
}
.purchase-info{
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
}
.purchase-info .btn,.get-deal-btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding:15px ;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type,.get-deal-btn{
    background: #256eff;
    font-weight: 600;
    font-size: 15px;
}
.purchase-info .btn:last-of-type{
    max-width: 160px;
    margin: auto;
    background-color: #f0f0f0;
    color: #000000;
    border: 2px solid #333333;
    padding: 6px;
    margin-top: 15px;
    font-size: 12px;
    font-weight: 600;
}
.purchase-info .btn:last-of-type:hover{
    background-color: #000000;
    color: #ffffff;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}
.social-links{
    display: flex;
    align-items: center;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
}
.card-wrapper .deals_score_rate_wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e8e8e8;
    padding: 15px;
    border-radius: 8px;
    margin-block: 10px;

}
.card-wrapper .deals_score_rate_wrapper div:first-child ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.card-wrapper .deals_score_rate_wrapper div:first-child ul li{
    display: flex;
    align-items: center;
    margin-inline: 5px;
}
.card-wrapper .deals_score_rate_wrapper div:first-child ul li span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.card-wrapper .deals_score_rate_wrapper div:first-child ul li:first-child span:first-child{
    background-color:#fae4a8;
    padding: 3px 9px;
    text-align: center;
}
.card-wrapper .deals_score_rate_wrapper div:first-child ul li:first-child span:last-child{
    background-color:#fef8e7;
    padding: 9px 9px;
    font-size: 14px;
    text-align: center;
}
.card-wrapper .deals_score_rate_wrapper div:first-child ul li:nth-child(2) span{
    background-color:#e8e8e8;
    padding: 9px 11px;
    margin-right: 5px;
}
.card-wrapper .deals_score_rate_wrapper div:last-child ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.card-wrapper .deals_score_rate_wrapper div:last-child ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}
.card-wrapper .deals_score_rate_wrapper div:last-child ul li:first-child span:first-child{
    font-size: 24px;
    font-weight: 600;
}
.card-wrapper .deals_score_rate_wrapper div:last-child ul li:first-child span:last-child{
    text-decoration: line-through;
    color: #c64111;
    margin-left: 5px;
}
.card-wrapper .deals_score_rate_wrapper div:last-child ul li:last-child a{
    text-decoration: none;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 22px;
    background-color: #256eff;
    font-weight: 600;
}
@media screen and (max-width: 1250px) {
    .card-wrapper{
        width: 100%;
    }
}
@media screen and (min-width: 992px){
    .card{
        display: flex; 
    }
    .card-wrapper{
       
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
  
    }
    .product-content{
        padding-top: 0;
        width: 70%;
    }
 
}
.card-wrapper > div > .product-header{
    display: block;
}
.card .product-content .product-header{
    display: none;
}
@media screen and (max-width:991px) {
    .card-wrapper{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
    .card-wrapper > div > .product-header,.product_page_tag{
        display: none;
    }
   .card .product_page_tag{
        display: none;
    }
    .card .product-header hr{
        display: none;
    }
    .card .product-content .product-header{
        display: block;
    }
    .card-wrapper .card{
        display: flex;
        flex-direction: column-reverse;
    }
    .card .product-content {
        display: block;
        width: 100%;
    }
    .card .product-content{
        width: 100%;
    } 
    .card .product-imgs{
        width: 100%;  
}
.product-detail-list ul{
    width: 90%;
    margin: auto;
}
.img-display{
    margin-inline: 0px;
}
.img-select{
    margin-inline: 0px;
}
.social-links-response li:nth-child(even){
    display: none;
}
.purchase-info{
    display: none;
}
}
@media screen and (max-width:768px) {
    .card-wrapper{
        padding: 20px;
    }
    .card-wrapper .deals_score_rate_wrapper{
        flex-wrap: wrap;
        padding: 15px 10px;
    }
    .card-wrapper .deals_score_rate_wrapper div{
        width: 100%;
    }
    .card-wrapper .deals_score_rate_wrapper div:first-child ul{
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .card-wrapper .deals_score_rate_wrapper div:last-child ul{
        justify-content: space-between;
    }
    .card-wrapper .deals_score_rate_wrapper li{
        margin-bottom: 15px;
        margin-inline: 0px !important;
    }
    .card-wrapper .deals_score_rate_wrapper a{
        margin-right: 0px !important;
    }
    .card-wrapper .deals_score_rate_wrapper span{   
        margin-right: 0px !important;
    }
    .card-wrapper .deals_score_rate_wrapper div:last-child ul li:last-child a {
        font-size: 12px;
        padding: 10px;
    }
    .card-wrapper .deals_score_rate_wrapper div:last-child ul li:first-child span:first-child {
        font-size: 20px;
    }
    .user-comments-container .user-profile-detail div:not(:first-child){
        display: none;
    }
}
.product-comment-section .container {
	margin: 30px auto;
    margin-top: 15px;
	background: #fff;
	padding: 25px 0px;
    border-top: 1px solid #e5e5e5;
}

.product-comment-section .margin-bottom {
	margin-bottom: 150px;
}

.product-comment-section .comment {
	display: block;
	transition: all 1s;
}

.product-comment-section .commentClicked {
	min-height: 0px;
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 5px 10px
}

.product-comment-section textarea {
	width: 100%;
	border: none;
	background: #E8E8E8;
	padding: 5px 10px;
	height: 80px;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 2px solid #016BA8;
	transition: all 0.5s;
	margin-top: 15px;
}

.product-comment-section button.primaryContained {
	background: #256eff;
	color: #fff;
	padding: 12px 15px;
	border: none;
	margin-top: 0px;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 1px;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
	transition: 1s all;
	font-size: 10px;
    font-weight: 600;
	border-radius: 5px;
}

.product-comment-section button.primaryContained:hover {
	background: #191819;
}
.user-comments-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 80px;
}
.user-comments-container div:first-child{
    margin-right: 15px;
}
.user-comments-container .user-profile-img{
    width: 50px;
}
.user-comments-container .user-profile-img img{
    width: 100%;
}
.user-comments-container .user-profile-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 200px;
    flex-shrink: 0;
}
.user-comments-container .user-profile-detail div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-block: 4px;
}
.user-comments-container .user-profile-detail span{
    font-size: 13px;
    color: #717171;
    display: flex;
}
.user-comments-container .user-profile-detail svg{
    margin-right: 5px;
}
.user-comments-container .user-profile-detail div:first-child span{
    font-weight: 600;
}
.user-comments-container .user-profile-detail div:first-child span svg{
    transform: rotate(180deg);
    margin-left: 5px;
}
.user-comments-container .user-comment-detail{
    display: flex;
    flex-direction: column;
    padding-left: 25px;
}
.user-comments-container .user-comment-detail div{
    margin-bottom: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 13px;
    color: #717171;
}
.user-comments-container .user-comment-detail div span{
    margin-right: 5px;
}
.user-comments-container .user-comment-detail div:last-child a:not(:last-child){
    display: flex;
    align-items: center;
    justify-content: center; 
    color: #555555;
    border: 2px solid #555555;
    margin: 0 0.2rem;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
    padding: 4px 10px;
    border-radius: 15px;
}
.user-comments-container .user-comment-detail div:last-child a:not(:last-child):hover{
    color: #FFFFFF;
    background-color: #000000;
}
@media screen and (max-width: 991px) {
    .user-comments-container {
        padding-top: 40px;
    }
    .user-comments-container .user-comment-detail{       
        padding-left: 0px;
        margin-top: 10px;
    }
    .product-content {
        padding: .5rem 0;
    }
    .product-title {
        margin: 5px 0px;
        text-align: center;
    }
}



